
<div style="display: flex; flex-direction: column; width: @Width; height: @Height; padding: @Padding">
    @ChildContent
</div>


@code
{
    [Parameter]
    public string Width { get; set; } = "100%";

    [Parameter]
    public string Height { get; set; } = "100%";

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Padding { get; set; } = "5px";
}
